@font-face {
    font-family: "Darumadrop One" ;
    src: url("../fonts/DarumadropOne-Regular.ttf");
}
*{ 
    box-sizing: border-box;
    margin: 0em;
    padding: 0em ;
    font-family: "Darumadrop One";
    background-color: #040F0;
    
}
body{ 
    display: flex;
}

.contenedorPrincipal{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: xx-large;
    
}
.BORDE{ 
    box-sizing: content-box;
    border: solid black 4px;
    box-shadow: #D770AD 0em 0em 0.1em 0.1em;
    border-radius: 0.2em;
}
.textoMini{
    font-size: large;
}

.letraM { 
    color: #A0D468;
}
.letraA { 
    color: #ED5565;
}
.letraS { 
    color: #4FC1E9;
}
.letraT { 
    color: #ec87c0;
}
.letraE { 
    color: #AC92EC;
}
.letraR { 
    color: #f6bb42;
}
.letraI { 
    color: #fc6e51;
}
.letraN { 
    color: #5D9CEC;
}
.letraD { 
    color: #D770AD;
}