* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Darumadrop One";  
}

@font-face {
    font-family: "Darumadrop One" ;
    src: url("../fonts/DarumadropOne-Regular.ttf");
}

body{ 
    display: flex;
    background-color: black;
}

.contenedorPrincipal{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.letraM { 
    color: #A0D468;
}
.letraA { 
    color: #ED5565;
}
.letraS { 
    color: #4FC1E9;
}
.letraT { 
    color: #ec87c0;
}
.letraE { 
    color: #AC92EC;
}
.letraR { 
    color: #f6bb42;
}
.letraI { 
    color: #fc6e51;
}
.letraN { 
    color: #5D9CEC;
}
.letraD { 
    color: #D770AD;
}

/* DIFICULTAD */

.estrellaAmarilla{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasAmarilla.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.estrellaVerde{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasVerde.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

}
.estrellaRoja{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasRoja.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color:transparent;
}

.circulosMedio{ 
    width: 5em;
    height: 5em;
    background-color: red;
    border-radius: 50%;
    ;
}

.borde{
    box-sizing: content-box;
    border: solid black 4px;
    box-shadow: #D770AD 0em 0em 0.1em 0.1em;
    border-radius: 0.2em;
}

.fondoBotonrojo{ 
    background-color: #ED5565;
}

/*COLORPICKERFACIL.HTML*/

.generalColorPickerFacil{ 
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/*TABLERO DE JEUGO */

.juegoPrincipal {

    width: 16em;
    height: 30em;
    background-color: red;
    
}

.filaMovil{
    width: 15em;
    height: 3em;
    background-color: blue;
}

.contadorComprobar{ 
    width: 4em;
    height: 3em;
    background-color: yellow;
}

.contador {
    width: 3em;
    height: 1.5em;
}

.comprobar{
    width: 3em;
    height: 1.5em;
}



.circulosEleccion{
width: 16em ;
height: 3em;
background-color: green;
}

.circulosEleccionUsuario {
    width: 2em;
    height: 2em;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.comprobacionCombinacion{
    width: 3em;
    height: 3em;
    background-color: #4FC1E9;
}

.circulosComprobacion{ 
    width: 0.8em;
    height: 0.8em;
    background-color: black;
    border-radius: 50%;
    margin: 1px ;
}

.filaInhabilitada {
    pointer-events: none;

    opacity: 0.5;

}