* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Darumadrop One"; 
}

@font-face {
    font-family: "Darumadrop One" ;
    src: url("../fonts/DarumadropOne-Regular.ttf");
}

body{ 
    display: flex;
    background-color: black;
}

.contenedorPrincipal{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorVerde { 
    color: #A0D468;
}
.colorRojo { 
    color: #ED5565;
}
.colorAzul { 
    color: #4FC1E9;
}
.colorRosa { 
    color: #ec87c0;
}
.colorLavanda { 
    color: #AC92EC;
}
.colorAmarillo { 
    color: #f6bb42;
}
.colorSalmon { 
    color: #fc6e51;
}
.colorAzulOscuro { 
    color: #5D9CEC;
}
.colorRosaOscuro { 
    color: #D770AD;
}



/* SELECTOR DIFICULTAD */

.estrellaAmarilla{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasAmarilla.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.estrellaVerde{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasVerde.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

}
.estrellaRoja{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasRoja.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color:transparent;
}

.circulosMedio{ 
    width: 5em;
    height: 5em;
    background-color: red;
    border-radius: 50%;
    ;
}

.borde{
    box-sizing: content-box;
    border: solid black 4px;
    box-shadow: #D770AD 0em 0em 0.1em 0.1em;
    border-radius: 0.2em;
}

.fondoBotonrojo{ 
    background-color: #ED5565;
}


/*TABLERO DE JEUGO */

.juegoPrincipal {

    width: 16em;
    height: 30em;
    background-color: red;
    
}

.filaFija{
    width: 16em;
    height: 3em;
    background-color: blue;
}

.contadorComprobar{ 
    width: 4em;
    height: 3em;
    background-color: yellow;
}

.contador {
    width: 3em;
    height: 1.5em;
}

.comprobar{
    width: 3em;
    height: 1.5em;
}

.circulosEleccion{
width: 16em ;
height: 3em;
background-color: green;
}

.circulosEleccionUsuario {
    width: 2em;
    height: 2em;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.comprobacionCombinacion{
    width: 3em;
    height: 3em;
    background-color: #4FC1E9;
}

.circulosComprobacion{ 
    width: 0.8em;
    height: 0.8em;
    background-color: black;
    border-radius: 50%;
    margin: 1px ;
}

.filaInhabilitada {
    pointer-events: none;

    opacity: 0.5;

}

#filasDinamicas {

    display: flex;
    flex-direction: row;

}

.filaD{
    width: 16em;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

.filaDinamica{
    width: 16em;
    height: 3em;
    background-color: blue;
}

.columnaComprobacion{
    width: 1.1em;
    height: 3em;
    background-color: #A0D468;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circulosComprobacion{
    background-color: black;
    height: 1em;
    width: 1em;
}

.numeroFilaD {
    height: 3em;
    width: 3em;
    background-color: #4FC1E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorCirculosD{
    width: 10.75em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
}

.circulosEleccionUsuarioD{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.comprobacionCombinacionD{
    width: 2.25;
    height: 3em;
    background-color: orange;
}
.columnaComprobacionD{
    width: 1.13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circulosComprobacionD{
    width: 1em;
    height: 1em;
    background-color: red;
    border-radius: 50%;
}


#filaEleccionColor{
    background-color: black;
}

.circulosMedio{
    width: 4em;
    height: 4em;
    background-color: red;
}

.generalColorPicker{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.filaColorPicker{
    height: 5em;
    width: 30em;
    background-color: red;
}

#colorPickerD {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6em;
    height: 6em;
    border: solid #f6bb42 0.2em;
    cursor: pointer;
    border-radius: 1em;
  }
  #colorPickerD::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }

  #colorPickerD::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }

  .botonJugar{
    width: 5em;
    height: 3em;
    text-decoration: none;
  }