body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contPrincipal{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor{ 
    width: 5em;
    height: 5em;
    background-color: red;
    border-radius: 50%;
}

.espacioColorPicker { 
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: aqua;
    margin: 2em;
}


/*COLORPICKERFACIL.HTML*/

.generalColorPickerFacil{ 
    display: flex;
    flex-direction: row;
}


.estrellaAmarilla{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasAmarilla.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.estrellaVerde{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasVerde.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

}
.estrellaRoja{
    width: 3em;
    height: 3em;
    background-image: url(../img/estrellaCincoPuntasRoja.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color:transparent;
}

.circulosMedio{ 
    width: 5em;
    height: 5em;
    background-color: red;
    border-radius: 50%;
    ;
}

.borde{
    box-sizing: content-box;
    border: solid black 4px;
    box-shadow: #D770AD 0em 0em 0.1em 0.1em;
    border-radius: 0.2em;
}

.fondoBotonrojo{ 
    background-color: #ED5565;
}

/*COLORPICKERFACIL.HTML*/

.generalColorPickerFacil{ 
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

